Html
    head
        title Pug example page
        body
            h1 Hello Pug Moudule
            h2 Nice to meet you
            a(href="https://github.com/pugjs/pug", data-set="mutiple" +
            "Attribute") Github for pug